<div class="left-sidebar">
    <h2>Danh mục</h2>
    <vc:category></vc:category>

    <div class="brands_products">
        <h2>Thương hiệu</h2>
        <div class="brands-name">
            <vc:brand></vc:brand>
        </div>
    </div>
</div>
