@{
    ViewData["Title"] = "Blog";
}

<div class="container my-5">
    <h2 class="mb-4">Blog</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card h-100">
                <img class="card-img-top" src="/images/blog/blog-one.jpg" />
                <div class="card-body">
                    <h5>Chọn lược nhuộm phù hợp</h5>
                    <p>Mẹo chọn lược nhuộm và phụ kiện cho salon...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <img class="card-img-top" src="/images/blog/blog-two.jpg" />
                <div class="card-body">
                    <h5>Bí quyết chăm sóc tóc</h5>
                    <p>Quy trình chăm sóc tóc hiệu quả với sản phẩm phù hợp...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <img class="card-img-top" src="/images/blog/blog-three.jpg" />
                <div class="card-body">
                    <h5>Xu hướng phụ kiện 2025</h5>
                    <p>Cập nhật những xu hướng phụ kiện tóc mới nhất...</p>
                </div>
            </div>
        </div>
    </div>
</div>


